// head
  // link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
//   title Meteor Japan Users Group
//
// body
//   article.container
//     header
//       +navbar
//
//     section.main
//       hgroup
//         h1 Meteor Japan Users Group
//         h3 Meteorのユーザーグループ
//
//     section.about
//
//     section.events
//
//     footer
//       +footer
//
//
//
//
// template(name="hello")
//   button Click Me
//   p You've pressed the button !{counter} times.
//
//
// template(name='navbar')
//   nav.navbar.navbar-inverse.nav-justified.navbar-static-top.navbar-fixed-top(role='navigation')
//     .container
//       .navbar-header
//         a.navbar-brand(href='') Meteor Japan Users Group
//
//       div.collapse.navbar-collapse#bs-example-navbar-collapse-1
//         ul.nav.navbar-nav.navbar-right
//           li
//             a(href='') About
//           li
//             a(href='') Events
//           li
//             a(href='') Meteor.com
//
//
// template(name='footer')
//   ul.footer
//     li Github
//     li copywrite
//
//


head
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
      +navbar
  header.intro
    +intro

  section#about.container.content-section.text-center
    +about

  section#download.content-section.text-center
    .download-section
      .container
        .col-lg-8.col-lg-offset-2
          h2 Download Grayscale
          p You can download Grayscale for free on the preview page at Start Bootstrap.
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Visit Download Page

  section#contact.container.content-section.text-center
    +contact

  #map

  footer
    +footer



// === template =====================================

template(name='navbar')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
      i.fa.fa-bars
    a.navbar-brand.page-scroll(href='#page-top')
      i.fa.fa-play-circle
      span.light Meteor Japan Users Group
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    ul.nav.navbar-nav
      li.hidden
        a(href='#page-top')
      li
        a.page-scroll(href='#about') About
      li
        a.page-scroll(href='#download') Download
      li
        a.page-scroll(href='#contact') Contact


template(name='intro')
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          h1.brand-heading Grayscale
          p.intro-text
            | A free, responsive, one page Bootstrap theme.
            br
            | Created by Start Bootstrap.
          a.btn.btn-circle.page-scroll(href='#about')
            i.fa.fa-angle-double-down.animated


template(name='about')
  .row
    .col-lg-8.col-lg-offset-2
      h2 About Grayscale
      p
        | Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on 
        a(href='http://startbootstrap.com/template-overviews/grayscale/') the preview page
        | . The theme is open source, and you can use it for any purpose, personal or commercial.
      p
        | This theme features stock photos by 
        a(href='http://gratisography.com/') Gratisography
        |  along with a custom Google Maps skin courtesy of 
        a(href='http://snazzymaps.com/') Snazzy Maps
        | .
      p
        | Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.


tempalate(name='contact')
  .row
    .col-lg-8.col-lg-offset-2
      h2 Contact Start Bootstrap
      p
        | Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!
      p
        a(href='mailto:feedback@startbootstrap.com') feedback@startbootstrap.com
      ul.list-inline.banner-social-buttons
        li
          a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
            i.fa.fa-twitter.fa-fw
            span.network-name Twitter
        li
          a.btn.btn-default.btn-lg(href='https://github.com/IronSummitMedia/startbootstrap')
            i.fa.fa-github.fa-fw
            span.network-name Github
        li
          a.btn.btn-default.btn-lg(href='https://plus.google.com/+Startbootstrap/posts')
            i.fa.fa-google-plus.fa-fw
            span.network-name Google+


template(name='footer')
  .container.text-center
    p Copyright © Your Website 2014
  // jQuery Version 1.11.0
  script(src='js/jquery-1.11.0.js')
    // Bootstrap Core JavaScript
  script(src='js/bootstrap.min.js')
    // Plugin JavaScript
  script(src='js/jquery.easing.min.js')
    // Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false')
    // Custom Theme JavaScript
  script(src='js/grayscale.js')
