@import 'nib'
@import 'jeet'
@import 'rupture'

body
  background-color #222
  color #eee

  h2
    font-size 27px
    font-weight bold

  .navbar
    display none

  .intro
    height 300px
    text-align center
    background url(/intro.jpg) no-repeat center center scroll

    h1
      font-family serif
      margin-top 50px
      font-size 120px
      text-shadow 0px 0px 10px rgba(255,255,255,1)
      opacity 0.8
      font-weight bold
      color #111
    h2
      text-shadow 0px 0px 10px rgba(255,255,255,1)
      opacity 0.8
      font-weight bold
      font-size 37px
      margin-top -10px
      color #111

  #links
    width 720px
    h2
      margin-bottom 25px
    ul
      text-align left
      list-style none
      li
        margin-bottom 20px
        a
          font-weight bold
          font-size 22px
          margin-bottom 15px
        p
          font-size 17px
          margin-left 20px

  #contact
    margin-top 20px
    margin-bottom 20px
    h2
      font-size 22px
