head
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet prefetch')

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top' style='background-color:#222; color:#eee;')
  // nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  //   .container
  //     +navbar

  header.intro
    +intro

  section#links.container.content-section.text-center
    +links

  section#contact.container.content-section.text-center
    +contact

  footer
    +footer



// === template =====================================

// template(name='navbar')
//   .navbar-header
//     button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
//       i.fa.fa-bars
//     a.navbar-brand.page-scroll(href='#page-top')
//       i.fa.fa-play-circle
//       span.light Meteor Japan Users Group
//   .collapse.navbar-collapse.navbar-right.navbar-main-collapse
//     ul.nav.navbar-nav
//       li.hidden
//         a(href='#page-top')
//       li
//         a.page-scroll(href='#about') About
//       li
//         a.page-scroll(href='#download') Download
//       li
//         a.page-scroll(href='#contact') Contact


template(name='intro')
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Meteor
        h2 Japan Users Group


template(name='links')
  .row
    .col-lg-8.col-lg-offset-2
      h2 Meteor 関連サイト
      ul
        li
          a(href='https://www.meteor.com/' target='_blank') Meteor.com
          p Meteor公式サイト
        li
          a(href='http://docs.meteor.com/#/full/' target='_blank') 公式ドキュメント
          p Meteorの公式ドキュメント
            br
            | （チュートリアルあり）
        li
          a(href='https://github.com/meteor/meteor') Meteor（Github）
          p MeteorのGithubリポジトリ
        li
          a(href='https://gitter.im/meteor/meteor?utm_source=share-link&utm_medium=link&utm_campaign=share-link') Meteor（Gitter）
          p MeteorのGitter（チャット）
        li
          a(href='http://meteor-fan.axlight.com/' target='_blank') Meteor Fan
          p Meteorの日本語情報サイト
        li
          a(href='http://www.meetup.com/Meteor-Tokyo/' target='_blank') Meteor Tokyo
          p 東京でのMeteor関連イベント
        li
          a(href='https://book.discovermeteor.com/' target='_blank') Discover Meteor
          p 英語で書かれたMeteor関連の電子書籍（有料）
        li
          a(href='https://ja.discovermeteor.com/' target='_blank') Discover Meteor（日本語）
          p Discover Meteorの日本語版（無料）
        li
          a(href='https://www.manning.com/books/meteor-in-action' target='_blank') Meteor in Action
          p 英語で書かれたMeteor関連の電子書籍（有料）
        li
          a(href='http://www.meetup.com/Meteor-Tokyo/' target='_blank') Meteor Tokyo
          p 東京でのMeteor関連イベント
        li
          a(href='https://www.sitepoint.com/premium/courses/your-first-meteor-application-2886' target='_blank') Site Point
          p Web上でMeteorを学べるサイト
        li
          a(href='https://twitter.com/search?q=%23meteorjs_jp&src=typd' target='_blank') Twitter
          p TwitterのMeteor日本語コミュニティ
            br
            | （#meteorjs_jp）


template(name='contact')
  .row
    .col-lg-8.col-lg-offset-2
      h2 連絡先
      ul.list-inline.banner-social-buttons
        li
          a.btn.btn-default.btn-lg(href='https://github.com/besutome/meteorjs_jp' target='_blank')
            i.fa.fa-github.fa-fw
            span.network-name Github
        li
          a.btn.btn-default.btn-lg(href='https://gitter.im/besutome/meteorjs_jp?utm_source=share-link&utm_medium=link&utm_campaign=share-link' target='_blank')
            i.fa.fa-github.fa-fw
            span.network-name Gitter


template(name='footer')
  .container.text-center
  // jQuery Version 1.11.0
  script(src='js/jquery-1.11.0.js')
    // Bootstrap Core JavaScript
  script(src='js/bootstrap.min.js')
    // Plugin JavaScript
  script(src='js/jquery.easing.min.js')
    // Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false')
    // Custom Theme JavaScript
  script(src='js/grayscale.js')
