head
  link(href='common.css', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet prefetch')

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top' style='background-color:#222; color:#eee;')
  header.intro
    .container
      .row
        .col-md-8.col-md-offset-2
          h1 Meteor
          h2 Japan Users Group

  section#links.container.content-section.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2 Meteor おすすめサイト
        ul
          li
            a(href='https://www.meteor.com/' target='_blank') Meteor.com
            p Meteor公式サイト
          li
            a(href='http://docs.meteor.com/#/full/' target='_blank') 公式ドキュメント
            p Meteorの公式ドキュメント
              br
              | （チュートリアルあり）
          li
            a(href='http://meteor-fan.github.io/meteor-docs-ja/' target='_blank') 日本語ドキュメント
            p Meteorの日本語ドキュメント(翻訳中)
          li
            a(href='https://news.meteorjs.jp/' target='_blank') Meteor News
            p Meteorのニュースサイト
          li
            a(href='https://crater.io/' target='_blank') crater.io
            p Meteorのニュースサイト（英語）
          li
            a(href='https://devshop.meteor.com/' target='_blank') Meteor Devshop
            p Meteorに関する動画サイト（英語）
          li
            a(href='https://github.com/meteor/meteor') Meteor（Github）
            p MeteorのGithubリポジトリ
          li
            a(href='https://gitter.im/meteor/meteor?utm_source=share-link&utm_medium=link&utm_campaign=share-link') Meteor（Gitter）
            p MeteorのGitter（チャット）
          li
            a(href='http://meteor-fan.axlight.com/' target='_blank') Meteor Fan
            p Meteorの日本語情報サイト
        h2 Meteor 関連サイト
        ul
          li
            a(href='https://www.manning.com/books/meteor-in-action' target='_blank') Meteor in Action
            p 英語で書かれたMeteor関連の電子書籍（有料）
          li
            a(href='http://www.meteorkitchen.com/') Meteor Kitchen
            p jsonだけでMeteorのサイトが作れるツール
          li
            a(href='http://www.meetup.com/Meteor-Tokyo/' target='_blank') Meteor Tokyo
            p 東京でのMeteor関連イベント
          li
            a(href='https://book.discovermeteor.com/' target='_blank') Discover Meteor
            p 英語で書かれたMeteor関連の電子書籍（有料）
          li
            a(href='https://ja.discovermeteor.com/' target='_blank') Discover Meteor（日本語）
            p Discover Meteorの日本語版（無料）
          li
            a(href='http://www.meetup.com/Meteor-Tokyo/' target='_blank') Meteor Tokyo
            p 東京でのMeteor関連イベント
          li
            a(href='https://www.sitepoint.com/premium/courses/your-first-meteor-application-2886' target='_blank') Site Point
            p Web上でMeteorを学べるサイト
          li
            a(href='https://twitter.com/search?q=%23meteorjs_jp&src=typd' target='_blank') Twitter
            p TwitterのMeteor日本語コミュニティ
              br
              | （#meteorjs_jp）

  section#contact.container.content-section.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2 連絡先
        ul.list-inline.banner-social-buttons
          li
            a.btn.btn-default.btn-lg(href='https://github.com/besutome/meteorjs_jp' target='_blank')
              i.fa.fa-github.fa-fw
              span.network-name Github
          li
            a.btn.btn-default.btn-lg(href='https://gitter.im/besutome/meteorjs_jp?utm_source=share-link&utm_medium=link&utm_campaign=share-link' target='_blank')
              i.fa.fa-github.fa-fw
              span.network-name Gitter

  footer
    .container.text-center
      a(href="http://besutome.github.io/meteorjs_jp")
        img(src="https://ga-beacon.appspot.com/UA-62012753-3/meteorjs_jp?pixel")
